@model X.PagedList.IPagedList<BookWebEcommerce.Models.Author>
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core; 
@using X.PagedList.Web.Common;
<div id="dataList">
    <body>
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Author</h2>
                <h1 class="display-4 text-uppercase">Our Author</h1>
            </div>
            <div id="content">
                <div class="row g-5">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="team-item">
                                <div class="position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="@item.ProfilePictureURL" alt="" style="height: 400px">
                                    <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <a class="btn btn-lg btn-primary btn-lg  rounded-0 mx-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-lg btn-primary btn-lg  rounded-0 mx-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            <a class="btn btn-lg btn-primary btn-lg  rounded-0 mx-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-dark border-inner text-center p-4">
                                    <h4 class="text-uppercase text-primary">@item.FullName</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</body>

    <br />
    
</div>

