@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout/MyLayout.cshtml";
}

<!--Final-->
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 " style="background: url(https://img.freepik.com/premium-photo/stack-books-black-background_23-2147846050.jpg);background-size: cover;">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="font-secondary text-primary mb-4">Super Sales</h1>
                <h1 class="display-1 text-uppercase text-white mb-4">BookZone</h1>
                <h1 class="text-uppercase text-white">The Best Book In London</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="" class="btn btn-primary border-inner py-3 px-5 me-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- About Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">About Us</h2>
            <h1 class="display-4 text-uppercase">Welcome To BookZone</h1>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                    <h2 class="text-primary font-secondary">Special Combo Book</h2>
                    <h1 class="display-4 text-uppercase text-white">Super Sales</h1>
                </div>
                <p class="text-white mb-4">Come and experience buying books from our list! We have a wide range of books that you can choose from</p>
                <a class="btn btn-primary border-inner py-3 px-5 me-3"  asp-controller="Book" asp-action="Index">Shop Now</a>
                <a href="" class="btn btn-dark border-inner py-3 px-5">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Products Start -->
<div class="container-fluid about py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Book & Pricing</h2>
            <h1 class="display-4 text-uppercase">Explore Our Books</h1>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content" >
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-3">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6" >
                                <div class="d-flex h-100">
                                    <div class="flex-shrink-0">
                                        <div></div>
                                        <img class="img-fluid" src="@item.ImageURL" alt="" style="width: 150px; height: 85px;">
                                        <h4 class="bg-dark text-primary p-2 m-0">@item.Price.ToString("c")</h4>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                        <h5 class="text-uppercase">@item.Name</h5>
                                        <span>@item.Description</span>
                                    </div>
                                </div>
                            </div>
                        }
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->

<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Authors</h2>
            <h1 class="display-4 text-uppercase">Our Authors</h1>
        </div>
        <div class="row g-5">
            @foreach(var item in Model)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@item.Author.ProfilePictureURL" style="height: 350px"  alt="">
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                    <a class="btn btn-lg btn-primary btn-lg-square border-inner rounded-0 mx-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dark border-inner text-center p-4" style="height: 200px;">
                            <h4 class="text-uppercase text-primary">@item.Author.FullName</h4>
                            <p class="text-white m-0">@item.Author.Bio</p>
                        </div>
                    </div>
                </div>

            }
            
        </div>
    </div>
</div>
<!-- Team End -->

