@using BookWebEcommerce.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@model IPagedList<Book>
@{
	ViewData["Title"] = "List of Movies";
	Layout = "~/Views/Shared/Layout/MyLayout.cshtml";
}
<div style="display: flex; justify-content: flex-start;">
	@await Component.InvokeAsync("Author")
</div>
<div style="display: flex; justify-content: center;">
	@await Component.InvokeAsync("Category")
</div>
<div id="content">
<div class="row">
	@if (Model != null && Model.Any())
	{
		var i = 1;	
			<div class="row justify-content-center align-items-center">
				@foreach (var item in Model)
				{
					<div class="col-md-2 col-xs-6 border-primary mb-3">
						<div class="card mb-3 mx-auto" style="max-width:340px">
							<div class="row g-0">
								<div class="col-md-12">
									<div class="card-header text-white " style="background: #E88F2A">
										<p class="card-text">
											<h5 class="card-title">
												@item.Name
												 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
										{
													<a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
													<a class="text-white float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
										} 
												
											</h5>
										</p>
									</div>
								</div>

								<div class="col-md-12">
									<img src="@item.ImageURL" width="100%" alt="@item.Name">
								</div>
								<p class="card-text" , style="text-align: center ; font-weight:bold;font-size: 25px">@item.Author.FullName</p>
								<div class="col-md-12">
									<div class="card-footer">
										<p class="card-text">
											<a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i></a>
											<a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-card-plus"></i>Add to cart @item.Price.ToString("c")</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		
		i++;
	}
</div>
@{
	var page = Model.PageNumber;
	var pageSize = ViewBag.pageSize;
}

<div class="pagination justify-content-center mb-3">
	@Html.PagedListPager(Model, page => Url.Action("Index", "Book", new { page = page, pageSize = pageSize }),new PagedListRenderOptions(){
	LiElementClasses = new string[]{"page-item"},
	PageClasses = new string[] {"page-link"}
	})
</div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
	<a class="btn btn-success text-white" asp-action="Create" style="width: 100px,float: right,margin-right: 100px"><i class="bi bi-plus"></i> Add New Book </a>
}
@* sua *@
@section Scripts{
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#authorSelect").change(function () {
				var id = $(this).val();
				$.ajax({
					url: "/Book/BookFilter",
					data: { mid: id },
					success: function (response) {
						$("div#content").html(response);
					}
				});
			});
		});
	</script>
	<script>
		$("li").click(function (e) {
			var id = $(this).attr("id");
			$.ajax({
				url: "/Book/BookFilterCategory", // Duong dan gui request
				data: { mid: id },       //tham so se dc gui kem request len sever
				success: function (response) {
					$("div#content").html(response);
				}
			});
		});
	</script>
}

