
@model IEnumerable<Book>
@* @foreach(var item in Model)
{ *@
@* 		<div class="col-md-3 col-sm-6"> 
			<div class="col-md-12">
				<div class="card-header text-white " style="background: #E88F2A">
					<p class="card-text">
						<h5 class="card-title">@item.Name
							<a class="text-white float-end" href="/Book/Edit/2"><i class="bi bi-pencil-square"></i></a>
							<a class="text-white float-end" href="/Book/Delete/2"><i class="bi bi-trash"></i></a>
						</h5>
					</p>
				</div>
			</div>
			<article class="card card-post">
				<img src=@item.ImageURL class="card-img-top" style="padding:5px">
				<div class="card-body" style="text-align:center">
					<h6 class="title" style="font-family:'Times New Roman'">@item.Author</h6>
					<p class="small text-uppercase text-muted" style="font-family:'Times New Roman'">@item.Author </p>
				</div>
			</article> <!-- card.// -->
			<div class="col-md-12">
				<div class="card-footer">
					<p class="card-text">
						<a class="btn btn-outline-primary float-end" asp-controller="Book" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i></a>
						<a class="btn btn-success text-white" asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-card-plus"></i>Add to cart @item.Price$</a>
					</p>
				</div>
			</div>
		</div> <!-- col.// --> *@

<section class="padding-bottom-sm" style="margin-top:20px">
	
	<div class="row row-sm" style="margin-left:10px;margin-right:10px">
		@foreach (var item in Model)
		{
			<div class="col-xl-2 col-lg-3 col-md-4 col-6" style="text-align:center">
				<div href="#" class="card card-sm card-product-grid">
					<a href="#" class="img-wrap"> <img class="img-sm float-right" style="margin:10px" src=@item.ImageURL> </a>
					<figcaption class="info-wrap">
						<a href="#" class="title">@item.Name</a>
						<div class="price mt-1">@item.Price$</div> <!-- price-wrap.// -->
					</figcaption>
				</div>
				<div class="col-md-12">
					<div class="card-footer">
						<p class="card-text">
							<a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i></a>
							<a class="btn btn-success text-white" asp-controller="Order" asp-action="AddToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-card-plus"></i>Add to cart @item.Price.ToString("c")</a>
						</p>
					</div>
				</div>
			</div> <!-- col.// -->
		}
		</div> <!-- row.// -->
	
</section>